<!DOCTYPE html>
<html>
<head>
<title>Hello World!</title>
</head>
<body>

<h1>Welcome on my awesome website!</h1>
<br><br><br>
<br><br><br>
<p>This website was deployed on: <b><h2>{{ ansible_host }}</h2></b></p>
</body>
</html>
